.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.calculator {
    width: 30%;
}

.result-screen {
    border: 2px solid white;
}

.calculator-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    height: 35px;
}